header {
  font-family: "ZCOOL KuaiLe", cursive;
  border: 3px solid black;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  height: 425px;
  width: 80%;
}

.letters {
  font-family: "ZCOOL KuaiLe", cursive;
  border: 3px solid black;
  font-size: 75px;
  margin: 0 auto;
  height: 100px;
  width: 80%;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

body {
  background-image: url(https://wallimpex.com/data/out/288/mario-game-backgrounds-6675611.png);
  background-size: 80%;
  background-repeat: repeat;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.bowser {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.luigi {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
