header {
  font-family: "Press Start 2P", cursive;
  border: 3px solid black;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  height: 500px;
  width: 100%;
}

.letters {
  font-family: "Press Start 2P", cursive;
  border: 3px solid black;
  font-size: 30px;
  margin: 0 auto;
  height: 50px;
  width: 50%;
  display: flex;
  align-content: auto;
  justify-content: center;
}

body {
  background-image: url(https://wallimpex.com/data/out/288/mario-game-backgrounds-6675611.png);
  background-size: 80%;
  background-repeat: repeat;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.wordBox {
  font-family: "Press Start 2P", cursive;
  font-size: auto;
  position: absolute;
  bottom: 425px;
  right: 450px;
}

.submit {
  font-family: "Press Start 2P", cursive;
  font-size: auto;
  position: absolute;
  bottom: 400px;
  right: 490px;
}

.keyboard {
  font-family: "Press Start 2P", cursive;
  font-size: auto;
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: center;
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}

.bowser {
  grid-row: 1 / span 1;
  grid-column: 4 / span 1;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 295px;
  right: 5px;
  animation: bowser 5s infinite;
}
@keyframes bowser {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*https://css-tricks.com/making-css-animations-feel-natural/*/

.stand {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  position: absolute;
  bottom: 160px;
  right: 200px;
}

.mario {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 175px;
  right: 785px;
}

.luigi {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 285px;
  left: 50px;
  animation: luigi 5s infinite;
}

@keyframes luigi {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.tunnel1 {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  position: absolute;
  top: 393px;
  left: 10px;
}

.tunnel2 {
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
  align-items: flex-start;
  position: absolute;
  top: 393px;
  right: 5px;
}
